@import "tailwindcss";

/* hide scrollbar but allow scrolling */
html {
	-ms-overflow-style: none; /* for Internet Explorer, Edge */
	scrollbar-width: none; /* for Firefox */
	@apply overflow-y-scroll bg-gray-900 text-white max-w-[100vw];
}
html::-webkit-scrollbar {
	display: none; /* for Chrome, Safari, and Opera */
}
